# __pycache__
__pycache__/*
dataset/__pycache__/*
dataset/wikinews/__pycache__/*
dataset/sources/__pycache__/*

# csv
*.csv


dataset_tree.txt

*.log
log/*

dataset/*.jsonl


dataset/.en-wiki-multi-news-cache/

*.lock

extractive/*
apply_extractive.py
